* {
    font-family: 'Montserrat', sans-serif;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#map {
    height: 500px;
}

#back-button {
    font-size: 30px;
}

body {
    background-color: #80808029;
}

a {
    text-decoration: none;
    color: #5593e1;
    border: black 1px solid;
    padding: 3px 10px;
    border-radius: 3px;
    margin: 10px;
}
button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #5f8ec8;
    border: transparent;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
    outline: none;
}
button:hover {
    background-color: #4b88d3c4;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin: 15px 0;
}

#portfolio-pic {
    width: 80%;
}

#error-message {
    color: red;
}

#comments {
    padding: 0 10px;
}

.textarea-field {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #000;
    width: 95%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    resize: none;
    transition: all 0.2s ease-out;
    overflow: auto;
    background-color:#eaeaea;
}
.textarea-field:focus {
  border-color: transparent;
}

.comments-border {
    border: black 1px solid;
    margin: 10px 0;
    border-radius: 3px;
}

.comments-title {
    margin: 0 10px;
}